In [1]:
import pandas as pd
import numpy as np
import os, sys

In [13]:
os.listdir()

['.ipynb_checkpoints',
 'data description.txt',
 'final prediction.csv',
 'fradulent_test.csv',
 'fradulent_train.csv',
 'fraud detection.ipynb',
 'fraud_detection.csv',
 'prediction.csv',
 'sample sub.csv',
 'sample_submission.csv']

In [3]:
sample = pd.read_csv('sample_submission.csv')
prediction = pd.read_csv('prediction.csv')

In [4]:
sample.columns

Index(['id', 'fradulent'], dtype='object')

In [5]:
prediction['id'] = sample['id']

In [6]:
prediction.head()

   Unnamed: 0  fradulent        id
0       10493          0  bcus2993
1       10494          1  bcus2994
2       10495          0  bcus2995
3       10496          1  bcus2996
4       10497          0  bcus2997

In [7]:
dict_pred = {'id':prediction['id'], 'fradulent':prediction['fradulent']}
frame = pd.DataFrame(dict_pred)
frame.head()

         id  fradulent
0  bcus2993          0
1  bcus2994          1
2  bcus2995          0
3  bcus2996          1
4  bcus2997          0

In [8]:
frame.to_csv('final prediction.csv', index = False)

In [9]:
sample.to_csv('sample sub.csv', index = False)

In [14]:
train = pd.read_csv('fradulent_train.csv')
test = pd.read_csv('fradulent_test.csv')

In [17]:
train = train.drop('Unnamed: 0', axis = 1)

In [18]:
test = test.drop('Unnamed: 0', axis = 1)

In [19]:
train.to_csv('train.csv', index = False)
test.to_csv('test.csv', index = False)

In [20]:
sample.head()

         id  fradulent
0  bcus2993        1.0
1  bcus2994        1.0
2  bcus2995        1.0
3  bcus2996        1.0
4  bcus2997        1.0